<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.clubfashionista.com/">Club Fashionista</a>
  is building a free platform for publishing and searching blog content. Users can easily and quickly discover articles of their choice and publish their own stories within a few moments. <a href="http://www.clubfashionista.com/">Club Fashionista</a>. This
  is the sample application for the platform.
</p>