<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on using Club Fashionista at the
  <a href="http://www.clubfashionista.com">Club Fashionista help page</a>.
  To get help on this sample app, see the
  <a href="http://www.clubfashionista.com">Club Fashionista "ABOUT" section on our current site.</a>.
</p>